
.mui-pull-right{
	width: 60px;
	text-decoration: none;
}

/*box--技师信息*/
.yuan_yuyue{
	color: #897870;
	width: 35px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #897870;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	top: 10px;
	right: 20%;
	z-index: 6;
}
.icon-dianhua{
	font-size: 24px !important;
	line-height: 36px;
}
.icon-xingxingkong{
	font-size: 24px !important;
	line-height: 30px;
}
.icon-xingxingman{
	font-size: 24px !important;
line-height: 30px;
}
.yuan_shoucang{
	color: #897870;
	width: 35px;
	height: 35px;
	line-height: 30px;
	border: 1px solid #897870;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	top: 10px;
	right: 5%;
	z-index: 6;
}

.Jishi_infor{
	background: white !important;
	width: 100%;
	height: 95px;
	border-bottom: 1px solid #E3E3E6;
	margin-bottom: 3px;
	padding: 8px 2% 0;
	position: relative;
}
.box_jishi{
	font-size: 15px;
	position: relative;
	padding-bottom: 3px;
	border-bottom: 1px solid #E6E6E6;
}
.box_img{
	width: 52px;
	height: 52px;
}
.jishi_img{
	margin: 1px;
}
.jishi_num{
	position: absolute;
	top: 8px;
	left: 60px;
	letter-spacing: 1px;
}
.jishi_sex{
	position: absolute;
	top: 10px;
	left: 105px;
}
.jishi_type{
	position: absolute;
	top: 30px;
	left: 60px;
}
.jishi_state{
	position: absolute;
	top: -5px;
	right: 2%;
	color: #666666;
}
.btn_yuyue{
	width: 70px;
	padding: 5px 15px;
	border-radius: 0;
	background: white;
	color: #666666;
	position: absolute;
	top: 23px;
	right: 0;
}
.evaluate{
	margin: 0 0 0 3px;
	height:30px;
	line-height:30px;
	position:relative;
}
.jishi_best{
	margin-left: 10px;
}
.current_state{
	position: absolute;
	top: 0;
	right: 1%;
	color: #666666;
}
/*弹窗*/
.backdrop{
 -webkit-user-select: none;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.85);
  top: 0;
  left: 0;
  z-index: 105;
}
.popup{
	width: 80%;
	background: white;
	padding: 25px 5% 20px ;
	border-radius: 5px;
	position: fixed;
	top:20%;
	left: 10%;
	z-index: 100;
}
.bold{
	margin-bottom: 20px;
}
.content{
	text-indent: 2em;
	font-size: 14px;
	color: #646162;
}
.box_btn{
	text-align: center;
	margin: 40px 0 10px;
}
.cancel{
	background: #eeeeee;
	color: #cccccc;
	border: none;
	display: inline-block;
	width: 30%;
	height: 35px;
}
.close{
	margin-left: 4%;
	display: inline-block;
	background: #eeeeee;
	width: 60%;
	height: 35px;
}





/*底部*/
.mui-content{
	padding-top: 0;
	padding-bottom: 57px;
}
.mui-bar-tab{
	opacity: 0.9;
	height: 50px;
	line-height:35px;
	padding-top: 10px;
}
.tip{
	padding-left: 2%;
	width: 81%;
	font-size: 12px;
}
/*扫一扫*/
.btn_sao{
	width: 17%;
	font-size: 0.7em;
	position: absolute;
	top: 10px;
	right: 2%;
}

/*头部--2*/
.mui-bar-nav{
	opacity: 0.9;
	height: 50px;
	padding: 0;
	overflow: hidden;
}
.left_box{
	float: left;
	width: 50%;
	height: 50px;	
	line-height: 50px;
	background: #8DBD94;
	color:  #334037;
	font-size: 14px;
	padding-left: 3%;
}
.right_box{
	float: left;
	width: 50%;
	height: 100%;
	font-size: 11px;
	background: #A6D4AE;
	position: relative;
}

.user_img_2{
	width: 40px;
	height: 40px;
	position: absolute;
	right: 4%;
	top: 5px;
	background: #4F7D5A ;
	border-radius: 50%;
	margin-bottom: 5px;
}
.user_img_2 img{
	border-radius: 50%;
	margin: 2px;
}

.hand{
	position: absolute;
	right: 33%;
	bottom: 18px;
}
.hand_num{
	position: absolute;
	right: 33%;
	bottom: 3px;
}




.pt44{
	padding-top: 54px !important;	
}

.mui-table-view{
	background-color:#FAF1E9;
}


