
.mui-pull-right{
	width: 60px;
	text-decoration: none;
}

/*box--技师信息*/
/*扫一扫*/
.Sao{
	margin: 8px auto;
	font-size: 12px;
	text-align: center;
}
.Sao a{
	color: #54A468;
	text-decoration: underline;
}

.yuan_yuyue{
	color: #897870;
	width: 35px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #897870;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	top: 10px;
	right: 20%;
	z-index: 6;
}
.icon-dianhua{
	font-size: 24px !important;
	line-height: 36px;
}
.icon-xingxingkong{
	font-size: 24px !important;
	line-height: 30px;
}
.icon-xingxingman{
	font-size: 24px !important;
line-height: 30px;
}
.yuan_shoucang{
	color: #897870;
	width: 35px;
	height: 35px;
	line-height: 30px;
	border: 1px solid #897870;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	top: 10px;
	right: 5%;
	z-index: 6;
}

.Jishi_infor{
	background: white;
	width: 100%;
	height: 95px;
	border-bottom: 1px solid #E3E3E6;
	margin-bottom: 3px;
	padding: 8px 2% 0;
	position: relative;
}
.box_jishi{
	font-size: 15px;
	position: relative;
	padding-bottom: 3px;
	border-bottom: 1px solid #E6E6E6;
}
.box_img{
	width: 52px;
	height: 52px;
}
.jishi_img{
	margin: 1px;
}
.jishi_num{
	position: absolute;
	top: 8px;
	left: 60px;
	letter-spacing: 1px;
}
.jishi_sex{
	position: absolute;
	top: 10px;
	left: 105px;
}
.jishi_type{
	position: absolute;
	top: 30px;
	left: 60px;
}
.jishi_state{
	position: absolute;
	top: -5px;
	right: 2%;
	color: #666666;
}
.btn_yuyue{
	width: 70px;
	padding: 5px 15px;
	border-radius: 0;
	background: white;
	color: #666666;
	position: absolute;
	top: 23px;
	right: 0;
}
.evaluate{
	margin: 0 0 0 3px;
	height:30px;
	line-height:30px;
	position:relative;
}
.jishi_best{
	margin-left: 10px;
}
.current_state{
	position: absolute;
	top: 0;
	right: 1%;
	color: #666666;
}
/*弹窗*/
.backdrop{
 -webkit-user-select: none;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.85);
  top: 0;
  left: 0;
  z-index: 105;
}
.popup{
	width: 80%;
	background: white;
	padding: 25px 5% 20px ;
	border-radius: 5px;
	position: fixed;
	top:20%;
	left: 10%;
	z-index: 100;
}
.bold{
	margin-bottom: 20px;
}
.content{
	text-indent: 2em;
	font-size: 14px;
	color: #646162;
}
.close{
	display: block;
	background: #eeeeee;
	width: 90%;
	margin: 40px auto 10px;
}
.prompt{
	display: none;
	width: 80%;
	background: white;
	padding: 25px 5% 20px ;
	border-radius: 5px;
	position: fixed;
	top:20%;
	left: 10%;
	z-index: 100;
}

