
.Popup_Voucher {
  -webkit-user-select: none;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #222634;
  background-repeat: repeat-x;
  top: 0;
  left: 0;
  z-index: 105;
}
.Voucher_content{
	position: relative;
}
.Voucher_content .mui-icon-closeempty{
	color: white;
	font-size: 40px;
	position: absolute;
	right: 6%;
	top: 1px;
}
.Voucher_number2{
	width: 25px;
	text-align: center;
	position: absolute;
	left: 36%;
	top: 53%;
	color: white;
	font-size: 23px;
	text-shadow: 1px 1px 3px #683C11;
}
.box_img{
	margin: 0 5%;
}



